{{ partial "header.html" . }}
<div class="home-page">
	{{ range (where .Site.Pages "Type" "index") }}
		<article class="written">
			{{ .Content }}
		</article>
	{{ end }}
	<ul style="list-style: none; padding: 0; margin-top: 0;">
		{{ range (where .Site.Pages "Type" "post") }}
			<li>
				<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
				<time style="width: 7em; display: inline-block;">{{ .Date.Format "Jan 2, 2006" }}</time>
			</li>
		{{ end }}
	</ul>
</div>
{{ partial "footer.html" . }}
