body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 143.75%;
}

h1, h2, h3 {
  letter-spacing: -0.01em;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.image {
  border: none;
  margin: 1.5em 0;
  padding: 0;
  border-radius: 0;
  text-align: center;
}

.image a {
  text-decoration: none;
}

figure {
  margin: 1.25em 0;
  page-break-inside: avoid;
}

figcaption {
  opacity: 0.5;
  font-size: 85%;
  margin-top: 0.5em;
}

.btn {
  font-weight: 500;
  border: none;
}

@media only print {
  body, html, .page {
    background: white !important;
  }
}
.site-link {
  text-transform: uppercase;
  font-family: "Monaco", "Fira Code", "Hack", monospace;
}

body, html {
  margin: 0;
}

.page {
  display: block;
}

@media only screen {
  .page {
    padding: 5vw 5vw;
    margin: 0 auto;
    max-width: 42rem;
  }
}
@media only print {
  img {
    max-height: 100vh;
    object-fit: contain;
  }
}
@page {
  margin: 1in;
}
.page-title {
  margin-top: 0;
  margin-bottom: 0.75em;
}
.page-title h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0;
}
.page-title .byline {
  color: rgba(135, 131, 120, 0.5);
}
.page-title .byline *:hover {
  color: black;
}

footer {
  margin-top: 4rem;
}

pre,
.code,
code {
  font-family: "Monaco", "Fira Code", "Hack", monospace;
  background: rgba(135, 131, 120, 0.15);
  border-radius: 3px;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 85%;
  tab-size: 2;
}

code {
  color: #eb5757;
}

.code, pre {
  padding: 1.5em 1em;
  scroll-behavior: smooth;
  overflow-x: auto;
}
.code > code, pre > code {
  background: none;
  padding: 0;
  font-size: 100%;
  color: inherit;
}

img {
  max-width: 100%;
}

ul, ol {
  padding-left: 2rem;
}

ul.task-list {
  list-style: none;
}

.column-list {
  display: flex;
  justify-content: space-between;
}

.column:first-child {
  padding-left: 0;
}

.column:last-child {
  padding-right: 0;
}

.column {
  padding: 0 1em;
}

.home-page .home-btn:not(:focus) {
  visibility: hidden;
}

a, a:visited {
  color: dodgerblue;
  text-decoration: inherit;
}

.btn svg {
  vertical-align: bottom;
  margin-left: 1rem;
}

[id] > a {
  background: transparent;
  transition: all 0.2s ease-in-out;
  padding-left: 1em;
  margin-left: -1em;
  padding-right: 0.5em;
  margin-right: -1em;
}

a:hover,
[id]:hover > a,
[id]:target > a {
  text-decoration: underline !important;
}

h1 > a, h2 > a, h3 > a, h4 > a {
  border: none !important;
}

pre span.o {
  color: #30336d;
  font-weight: 600;
}
pre span.c1 {
  color: #9f9d23;
}
pre span.p {
  color: #6b691f;
}
pre span.k, pre span.kd {
  color: #474db4;
  font-weight: 400;
}

.language-lua span.kr {
  color: #30336d;
  font-weight: 600;
}

body {
  color: #1d1d1d;
}
body .btn {
  color: rgba(40, 40, 40, 0.3);
}
body .btn svg {
  fill: rgba(40, 40, 40, 0.3);
}
body .page-title h1 {
  color: #1d1d1d;
}

::selection {
  background: #9fdda9;
}