</main>
</div>
{{ $navigationJs := resources.Get "script/navigation-transition.js"}}
{{ $themeJs := resources.Get "script/theme.js"}}
{{ $grammarlyJs := resources.Get "script/grammarly.js"}}
{{ $linkJs := resources.Get "script/link-headers-with-id.js"}}
{{ $secureJS := slice $themeJs $navigationJs $linkJs $grammarlyJs | resources.Concat "script/bundle.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
</body>
</html>
