@import 'colors';
@import 'lengths';

$color-body-black: $color-body-black;
$color-subhead-black: $color-subhead-black;
$color-highlight: $color-highlight;

body {
  margin: 0;
}

main {
  display: block;
  padding: $length-top $length-sides;
  margin: 0 auto;
  max-width: $length-max-width;
}

footer {
  margin-top: 4rem;
}

p > code {
  border: .075rem solid rgba(28, 28, 28, 0.039);
  border-radius: .1rem;
  background: rgba(245, 245, 245, 0.027);
}

pre {
  max-width: 100%;
  overflow-x: auto;
  padding: 0;
  padding-left: 2ch;
  border-left: .5ch solid rgba(255, 104, 172, 0.164);
}

img {
  max-width: 100%;
  max-height: 90vh;
  margin: 0 -8px;
  display: block;

  padding: 8px;
  border: 1px solid $color-body-black;
}

ul, ol {
  padding-left: 2rem;
}
ul.task-list {
  list-style: none;
}
