@import 'colors';

$color-body-black: $color-body-black;
$color-subhead-black: $color-subhead-black;
$color-highlight: $color-highlight;

.home-page .home-btn:not(:focus) {
  visibility: hidden;
}

a, a:visited {
  color: dodgerblue;
  text-decoration: inherit;
}

.btn svg {
  vertical-align: bottom;
  margin-left: $length-space;
}

[id] > a {
  background: inherit;
  transition: all .2s ease-in-out;
  padding-left: 1em;
  margin-left: -1em;
  padding-right: 0.5em;
  margin-right: -1em;
}

a:hover,
[id]:hover > a,
[id]:target > a {
  text-decoration: underline !important;
}

h1>a, h2>a, h3>a, h4>a { border: none !important; }
