@import 'colors';

$color-body-black: $color-body-black;
$color-subhead-black: $color-subhead-black;
$color-highlight: $color-highlight;

body {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  line-height: 143.75%;
  color: $color-body-black;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

h1, h2, h3, h4 {
  font-size: 32px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  color: $color-subhead-black;
  margin-bottom: .375em;
  padding-top: .675em;
  line-height: normal;
}

h1 {
  margin-top: 1em;
  color: $color-body-black;
}

.title {
  text-align: center;

  h1 {
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
  }
}

p {
  margin: 1em auto;
  line-height: 183.75%;
  text-align: justify;
}

pre, code, kbd, tt, samp {
  font-family: 'Monaco', 'Fira Code', 'Hack', monospace;
  font-size: 13px;
  line-height: 1.3em;
}

.btn {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  border: none;
}

// Color Styles

// Light text
.text-light {
  color: $color-body-light;

  .btn {
    color: $color-subsubhead-light;

    svg {
      fill: $color-subsubhead-light;
    }
  }

  h1, .title h1 {
    color: $color-body-light;
  }
  
  h2, h3, h4 {
    color: $color-subhead-light;
  }
}

body, .text-dark {
  color: $color-body-black;

  .btn {
    color: $color-subsubhead-black;

    svg {
      fill: $color-subsubhead-black;
    }
  }

  .title h1 {
    color: $color-body-black;
  }
}

::selection { background: $color-highlight; }
