// base.sass

@import 'typography';
@import 'layout';
@import 'columns';
@import 'links';
// @import 'menu';
@import 'colors';
@import 'pygments';

.meta-block {
  background: whitesmoke;
  padding: 0.5rem 1rem;
  margin: 1rem -1rem;
  border-radius: 6px;
}

body {
  color: $color-body-black;

  .btn {
    color: $color-subsubhead-black;

    svg {
      fill: $color-subsubhead-black;
    }
  }

  .page-title h1 {
    color: $color-body-black;
  }
}

::selection { background: rgb(159, 221, 169); }
